:root {
  --primary-blue: #4da6ff;  /* azul claro */
  --secondary-gray: #f0f0f0; /* cinza claro */
  --white: #ffffff;
  --text-color: #333;
}
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f5f7fa;
  font-family: 'Segoe UI', sans-serif;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--secondary-gray);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}
/* Abas */
.aba {
  position: relative;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aba .tooltip {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: #333;
  color: #fff;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}

.aba:hover .tooltip {
  opacity: 1;
}
